body{
    margin: 0;
    padding: 0;
    background-color: gray;
}
nav{
    background-color: beige;
    padding: 5px;
    height: 30px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
}
nav,h1{
    margin: 0;
}
#object-list{
    padding: 10px;
}
form{
    padding: 50px 10px 10px;
    display: flex;
    flex-direction: column;
    background-color: aqua;
}
button,#body,#text{
    padding: 10px;
    margin-top: 10px;
}
button:hover,button:focus{
    cursor: pointer;
    background-color: rgb(43, 140, 5);
}
